<template>
    <div class="container bg-success pt-3 my-auto pb-3" style="position:absolute; top:50%; left:50%; transform:translateX(-50%) translateY(-50%);">
        <div class="row">
            <a class="col-12 text-center">
                <router-link to="/inicio">
                    <img class="rounded-circle m-2" src="/img/Gerald.jpg" style="width:250px; height:250px;">
                </router-link>
            </a>
            <div class="col-12 text-center text-white"><h3>Error 404: Página no encontrada</h3></div>
        </div>
    </div>
</template>
<script>
    export default{
        name: 'error-404',
        mounted: function(){
            document.title="Error 404: Not Found"
        }
    }
</script>