<template>
    <div>
        <div class="h-50vh bg-image-5 parallax w-100">
            <div class="bg-opacity-7 h-50vh d-flex j-center">
                <p class="fs-20 text-center font-1">Somos la solución que necesitas</p>
            </div>
        </div>
        <div class="pt-4 pr-4 pl-4 row m-0">
            <div class="col-12">
                <p class="text-left font-2 pink-text fs-50vw title-us">Zulema Andreina Quintero</p>
            </div>
        </div>
        <div class="pr-4 pl-4 pb-4 row m-0">
            <div class="col-10 col-sm-6 col-md-5 col-lg-4 text-right border-r-2 m-auto-photo d-flex j-center">
                <img src="/images/1.jpg" class="w-100" />
            </div>
            <div class="col-12 col-sm-6 col-md-7 col-lg-8 d-flex j-center">
                <div class="w-100 text-center">
                    <p class="text-justify font-1 fs-13 pt-3">Médico Cirujano con 15 años de experiencia, especializada en Gastroenterología y Endoscopia Digestiva. Miembro activo del Hospital Universitario "Dr. Pedro Emilio Carrillo" como colaboradora en la formación de Residentes de Postgrado. </p>
                    <router-link tag="button" to="/personalinfo" class="btn clear-btn pink-bg-i m-auto fs-white font-1">Experiencia Profesional</router-link>
                </div>
            </div>
        </div>
        <div class="bg-image-4 parallax w-100">
            <div class="bg-opacity-7 d-flex j-center">
                <div class="w-100 pt-3 pb-4">
                    <p class="fs-20 text-center font-1">Conoce todos los servicios que tenemos para ti:</p>
                    <div class="row m-0 w-100">
                        <div class="col-12 col-md-10 row m-0 w-100 p-0 mb-1i ask-consult">
                            <div class="col-12 col-sm-10 col-md-10 p-0 m-auto" style="position:relative;">
                                <div class="mySlides">
                                    <div class="d-flex">
                                        <div class="m-auto">
                                            <div class="numbertext">1 / 4</div>
                                            <img src="/images/8.jpg" class="img-slider">
                                        </div>
                                    </div>
                                </div>
                                <div class="mySlides">
                                    <div class="d-flex">
                                        <div class="m-auto">
                                            <div class="numbertext">2 / 4</div>
                                            <img src="/images/6.jpg" class="img-slider">
                                        </div>
                                    </div>
                                </div>
                                <div class="mySlides">
                                    <div class="d-flex">
                                        <div class="m-auto">
                                            <div class="numbertext">3 / 4</div>
                                            <img src="/images/7.jpg" class="img-slider">
                                        </div>
                                    </div>
                                </div>
                                <div class="mySlides">
                                    <div class="d-flex">
                                        <div class="m-auto">
                                            <div class="numbertext">4 / 4</div>
                                            <img src="/images/2.jpg" class="m-auto img-slider">
                                        </div>
                                    </div>
                                </div>
                                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                                <div class="caption-container d-flex j-center p-2">
                                    <p id="caption"></p>
                                </div>
                                <div class="row m-0 w-100">
                                    <div class="column">
                                        <div class="bg-image-3 bg-captionss h-100 d-flex">
                                            <img style="min-width:100%" src="#" class="demo cursor h-100" onclick="currentSlide(1)" alt="Consultas Individuales">
                                        </div>
                                    </div>
                                    <div class="column"> 
                                        <div class="bg-image-6 bg-captionss h-100 d-flex">
                                            <img class="demo cursor h-100" src="#" style="min-width:100%" onclick="currentSlide(2)" alt="Endoscopia Superior y Colonoscopia">
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="bg-image-7 bg-captionss h-100 d-flex">
                                            <img class="demo cursor h-100" src="#" style="min-width:100%" onclick="currentSlide(3)" alt="Toma de biopsias">
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="bg-image-2 bg-captionss h-100 d-flex">
                                            <img class="demo cursor h-100" src="#" style="min-width:100%" onclick="currentSlide(4)" alt="Ecografías">
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="col-12 col-md-2 d-flex pt-3">
                            <router-link tag="button" to="/servicios" class="btn clear-btn pink-bg-i m-auto fs-white font-1">LEER MÁS</router-link>
                        </div>
                    </div>
                </div>           
            </div>
        </div>
        <div class="row m-0 pt-3 pb-3">
            <div class="col-12 col-sm-6 border-r-2 d-flex j-center ask-consult">
                <p class="font-1 text-center fs-14 m-0">¿Quieres solicitar una consulta?</p>
            </div>
            <div class="col-12 col-sm-6 d-flex j-center">
                <router-link tag="button" to="/contacto" class="btn clear-btn pink-bg-i m-auto fs-white font-1">Consultas</router-link>
            </div>
        </div>
        <div class="bg-image-8 bg-position-tr parallax w-100 mb-3">
            <div class="bg-opacity-8 d-flex j-center p-3">
                <div class="w-100">
                    <p class="fs-23 text-center font-1">¿Cuando visitarnos?</p>
                    <p class="text-center fs-13">Si tienes alguna de las siguientes, efectivamente es hora de <router-link tag="button" to="/contacto" class="btn clear-btn pink-bg-i fs-white font-1">Visitarnos</router-link>.</p>
                    <div class="row w-100 m-0">
                        <div class="col-12 col-sm-6 m-0 p-0 border-r-2">
                            <p class="fs-14 when-visit-us-l tex-center">Hemoglobina baja</p>
                            <p class="fs-14 when-visit-us-l tex-center">Sangre en la escreta</p>
                            <p class="fs-14 when-visit-us-l tex-center">Perdida de peso sin razón</p>
                        </div>
                        <div class="col-12 col-sm-6 m-0 p-0">
                            <p class="fs-14 when-visit-us-r tex-center">Hígado graso</p>
                            <p class="fs-14 when-visit-us-r tex-center">Dificultad al tragar</p>
                            <p class="fs-14 when-visit-us-r tex-center">Tengo más de 50 años y necesito una colonoscopía</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-12 col-sm-3 p-0 m-0">
                <img src="/images/9.jpg" class="w-100" />
            </div>
            <div class="col-12 col-sm-3 p-0 m-0">
                <img src="/images/10.jpg" class="w-100" />
            </div>
            <div class="col-12 col-sm-3 p-0 m-0">
                <img src="/images/11.jpg" class="w-100" />
            </div>
            <div class="col-12 col-sm-3 p-0 m-0">
                <img src="/images/12.jpg" class="w-100" />
            </div>
        </div>
        <div class="row m-0 p-0 w-100">
            <div class="col-12 col-sm-6 col-md-5 border-r-2 mt-3 mb-3 d-flex j-center">
                <p class="font-1 fs-13 text-justify">Tenemos un ambiente profesional y con alta calidad de servicio. Nuestra prioridad es la salud y el bienestar de nuestros pacientes. ¡Nos orgullece poder ofrecerle nuestros servicios a personas como tú!</p>
            </div>
            <div class="col-12 col-sm-6 col-md-7 mt-3 mb-3 d-flex j-center">
                <div class="col-8 m-auto">
                    <p class="font-1 fs-13 text-center">¡No lo pienses mas!</p>
                    <router-link tag="button" to="/contacto" class="btn clear-btn pink-bg-i m-auto fs-white font-1 w-100">Contacto</router-link>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
@import url('https://fonts.googleapis.com/css?family=Parisienne|Rouge+Script');
html{font-size:100%;}
.font-1{font-family: 'Raleway'}
.font-2{font-family: 'Parisienne'}
.font-3{font-family: 'Rouge Script'}
.fs-85vw{font-size:8.5vw;}
.fs-50vw{font-size:5vw;}
@media screen and (max-width:575px){
.ask-consult{margin-bottom:1rem !important;}}
.mb-1i{margin-bottom:1rem !important;}
.fs-30vw{font-size:3vw;}
.fs-13{font-size:1.3rem;}
.border-r-2{border-right:2px solid black}
.border-l-2{border-left:2px solid black}
.fs-20{font-size:2rem;}
.up-25px{margin-top:-25px;}
.pink-text{color:#F524A5}
.tex-center{text-align:center;}
@media screen and (min-width:576px){
.when-visit-us-l{padding-right:1rem !important;text-align:right !important;}
.when-visit-us-r{padding-left:1rem !important;text-align:left !important;}}
@media screen and (max-width:450px){
    .title-us{
        text-align:center !important;
        font-size:10vw;
    }
}
@media screen and (min-width:451px) and (max-width:575px){
    .title-us{
        text-align:center !important;
        font-size:7.9vw;
    }
}
@media screen and (max-width:575px){
    .m-auto-photo{
        margin:auto;
    }
}
.pink-bg{background-color:#F524A5}
.fs-15{font-size:1.5rem}
.pink-bg-i{background-color:#F524A5 !important}
.clear-btn{background-color:transparent}
.fs-23{font-size:2.3rem;}
.bg-position-tr{background-position:top right;}
.clear-btn:hover{background-color:#BC0677;border-color:#B1036E}
.fs-white{color:white;}
.h-100vh{height:100vh;}
.border-b-2{border-bottom:2px solid white;}
.h-50vh{height:50vh;}
.parallax{background-repeat: no-repeat;background-size:cover;background-attachment: fixed;}
.bg-image-5{background-image:url('/images/5.jpg')}
.bg-image-3{background-image:url('/images/3.jpg')}
.bg-pinkclear{background-color:#e2749a}
.fs-40{font-size:4rem;}
.bg-image-6{background-image:url('/images/6.jpg')}
.bg-image-7{background-image:url('/images/7.jpg')}
.bg-image-8{background-image:url('/images/8.jpg')}
.bg-image-9{background-image:url('/images/9.jpg')}
.bg-image-10{background-image:url('/images/10.jpg')}
.bg-image-11{background-image:url('/images/11.jpg')}
.bg-image-12{background-image:url('/images/12.jpg')}
.h-100{height:100%;}
.fs-14{font-size:1.4rem;}
.bg-image-2{background-image:url('/images/2.jpg')}
.bg-image-4{background-image:url('/images/4.jpg')}
.bg-opacity-7{background-color:rgba(255,255,255,.7)}
.bg-opacity-8{background-color:rgba(255,255,255,.8)}
.j-center{justify-content: center;align-items: center;}
.p-0{padding:0 !important}
.m-0{margin:0 !important}

* {
  box-sizing: border-box;
}


/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}
.caption, #caption{
    margin-bottom:0 !important;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.img-slider{
    height: 50vh;
    max-width: 100%;
}
/* Six columns side by side */
.column {
  float: left;
  width: 24.966666%;
  height:17vh;
  overflow:hidden;
  text-align:center;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0;
  min-width:100%;
  background-size:cover;
  background-position:center;
}
.bg-captionss img{
    text-indent:-9999px;
}
.active{
  opacity: 0;
}

.bg-captionss{
    background-position:center;
    background-size:cover;
}
.bg-captionss:hover{
    opacity:0.5;
}

</style>
<script>
    export default{
        name: 'inicio',
        mounted: function(){
            document.title="Inicio | Dra Zulema Quintero"
        }
    }
</script>