<template>
    <body>
        <zHeader></zHeader>
        <zNavbar></zNavbar>
        <router-view></router-view>
        <zFooter></zFooter>
    </body>
</template>
<script>
    import zFooter from '../components/footer.vue';
    import zNavbar from '../components/navbar.vue';
    import zHeader from '../components/header.vue';
    export default{
        name:'index',
        components: {
            zFooter,
            zNavbar,
            zHeader,
        }
    }
</script>