<template>
    <div class="w-100 bg-pinkclear p-3">
        <div class="row m-0 w-100">
            <div class="col-12 col-sm-6 d-flex j-center">
                <div class="w-100">
                    <p class="font-2 fs-23 fs-white">Dra. Zulema Quintero</p>
                    <div class="w-100">
                        <div class="row p-0 m-0 w-100">
                            <div class="col-3 col-sm-2 col-md-1 d-flex j-center pl-0">
                                <h4 class="text-left fs-white"><i class="fas fa-map w-100"></i></h4>
                            </div>
                            <div class="col-9 col-sm-10 col-md-11 pl-0">
                                <h4 class="text-left font-1 fs-white">Centro Médico Proendomed, Quito, Ecuador.</h4>
                            </div>
                        </div>
                        <div class="row w-100 p-0 m-0">
                            <div class="col-3 col-sm-2 col-md-1 d-flex j-center pl-0">
                                <h4 class="text-left fs-white"><i class="fas fa-phone w-100"></i></h4>
                            </div>
                            <div class="col-9 col-sm-10 col-md-11 pl-0">
                                <h4 class="text-left font-1 fs-white">+593-97-915-8747</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="w-100 mt-3">
                    <div class="row w-100 m-0 p-0 border-b-2">
                        <router-link tag="div" to="/personalinfo" class="cursor col-6 col-sm-6 col-md-4">
                            <p class="font-1 fs-12 fs-white text-center">Experiencia</p>
                        </router-link>
                        <router-link tag="div" to="/servicios"  class="cursor col-6 col-sm-6 col-md-4">
                            <p class="font-1 fs-12 fs-white text-center">Servicios</p>
                        </router-link>
                        <router-link tag="div" to="/contacto"  class="cursor col-12 col-sm-6 col-md-4 m-auto">
                            <p class="font-1 fs-12 fs-white text-center">Contacto</p>
                        </router-link>
                    </div>
                    <div class="text-center">
                        <p class="font-1 fs-white fs-13 mb-0 mt-2">Redes sociales</p>
                        <div class="row m-0 p-0">
                            <div class="col-12"><h1 class="text-center fs-40"><a href="#" style="text-decoration:none;color:white;"><i class="fab fa-instagram mr-2"></i></a><a href="#" style="text-decoration:none;color:white;"><i class="fab fa-facebook"></i></a></h1></div>
                        </div>
                    </div>
                    <div class="text-right">
                        <p class="font-1 fs-13 mb-0 mt-2">Desarrollado por: <a href="http://geraldalarcon.com.ve" style="text-decoration:none;color:white;">Gerald Alarcón</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
