<template>
    <header>
        <h1 class="text-center font-2 fs-85vw pt-4 pink-text" style="font-family:'Parisienne'">Dra. Zulema Quintero</h1>
        <p class="text-center font-1 fs-50vw up-25px">MÉDICO GASTROENTEROLOGO</p>
    </header>
</template>
