<template>
    <div class="row pink-bg m-0 w-100">
        <div class="col-12 col-sm-3">
            <router-link tag="button" to="/inicio" class="btn clear-btn clear-btn fs-white w-100 font-1">Home</router-link>
        </div>
        <div class="col-12 col-sm-3">
            <router-link tag="button" to="/personalinfo" class="btn clear-btn fs-white w-100 font-1">Experiencia</router-link>
        </div>
        <div class="col-12 col-sm-3">
            <router-link tag="button" to="/servicios" class="btn clear-btn fs-white w-100 font-1">Servicios</router-link>
        </div>
        <div class="col-12 col-sm-3">
            <router-link tag="button" to="/contacto" class="btn clear-btn fs-white w-100 font-1">Contacto</router-link>
        </div>
    </div>
</template>
