<template>
    <div>
        <div class="p-4 row m-0">
            <div class="col-10 col-sm-6 col-md-5 col-lg-4 text-right border-r-2 pb-3 m-auto-photo d-flex j-center">
                <img src="/images/1.jpg" class="w-100" />
            </div>
            <div class="col-12 col-sm-6 col-md-7 col-lg-8 d-flex j-center">
                <div class="w-100 text-center">
                    <p class="text-center font-2 fs-23">Perfil Profesional</p>
                    <p class="text-justify font-1 fs-13 pt-3">Médico Cirujano egresado de la Universidad de los Andes. Mérida. Venezuela. Postgrado de Gastroenterologia realizados en el Hospital Universitario «Dr Pedro Emilio Carrillo» (HUPEC) de Valera. Núcleo de la Universidad de los Andes. Venezuela.</p> 
                    <p class="text-justify font-1 fs-13 pt-3">Colaboradora en la formación de Residentes de postgrado HUPEC 2005-2017</p>
                    <p class="text-justify font-1 fs-13 pt-3">Coordinadora del postgrado de Gastroenterologia HUPEC 2008-2012</p>
                    <p class="text-justify font-1 fs-13 pt-3">Amplia experiencia en el campo de la Gastroenterologia y Endoscopia digestiva.</p>
                </div>
            </div>
        </div>
    </div>
</template>
