<template>
    <div class="p-3">
        <p class="text-center font-2 fs-40">Servicios</p>
        <p class="text-left font-2 fs-20 mb-2">Consultas Previa Cita</p>
        <div class="row m-0 p-0">
            <div class="col-10 col-sm-6 col-md-5 col-lg-4 text-right border-r-2 pb-3 m-auto-photo d-flex j-center">
                <img src="/images/3.jpg" class="w-100" />
            </div>
            <div class="col-12 col-sm-6 col-md-7 col-lg-8 d-flex j-center">
                <div class="w-100 text-center">
                    <p class="text-center font-2 fs-23 mb-0">Diagnóstico y tratamiento de:</p>
                    <p class="text-justify font-1 fs-13 mb-0">Enfermedades hepáticas</p>
                    <p class="text-justify font-1 fs-13 mb-0">Reflujo gastroesofágico</p>
                    <p class="text-justify font-1 fs-13 mb-0">Esofagitis. Gastritis.</p>
                    <p class="text-justify font-1 fs-13 mb-0">Úlcera gástrica y duodenal.</p> 
                    <p class="text-justify font-1 fs-13 mb-0">Hernia hiatal</p>
                    <p class="text-justify font-1 fs-13 mb-0">Helicobacter pylori</p>
                    <p class="text-justify font-1 fs-13 mb-0">Colitis. Colón irritable</p>
                    <p class="text-justify font-1 fs-13 mb-0">Vesícula biliar.</p>
                    <p class="text-justify font-1 fs-13 mb-0">Enfermedad inflamatoria intestinal</p>
                    <p class="text-justify font-1 fs-13 mb-0">Diarrea aguda y crónica</p>
                    <p class="text-justify font-1 fs-13 mb-3">Todo lo relacionado con enfermedades del aparato digestivo</p>
                </div>
            </div>
        </div>
        <p class="text-right font-2 fs-20 mb-2 mt-4">Endoscopia Superior y Colonoscopia</p>
        <div class="row m-0 p-0">
            <div class="col-12 col-sm-6 col-md-7 col-lg-8 d-flex j-center">
                <div class="w-100 text-center">
                    <p class="text-center font-2 fs-23 mb-0">Endoscopia diagnóstica y terapéutica avanzada</p>
                    <p class="text-right font-1 fs-13 mb-0">Extracción de cuerpos extraños.</p>
                    <p class="text-right font-1 fs-13 mb-0">Resección de polipos sin cirugía.</p>
                    <p class="text-right font-1 fs-13 mb-0">Ligadura de varices esofágicas.</p>
                    <p class="text-right font-1 fs-13 mb-0">Tratamiento de hemorroides sin cirugía.</p> 
                    <p class="text-right font-1 fs-13 mb-0">Detección y tratamiento oportuno del cáncer del aparato digestivo.</p>
                    <p class="text-right font-1 fs-13 mb-0">Entre otros</p>
                </div>
            </div>
            <div class="col-10 col-sm-6 col-md-5 col-lg-4 text-right border-l-2 pb-3 m-auto-photo d-flex j-center">
                <img src="/images/2.jpg" class="w-100" />
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-12 col-sm-5 border-r-2">
                <p class="text-left font-2 fs-20 mb-2">Otros Servicios</p>
                <div class="row m-0 p-0">
                    <div class="col-10 col-sm-6 col-md-5 col-lg-4 text-right pb-3 m-auto-photo d-flex j-center">
                        <img src="/images/3.jpg" class="w-100" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-7 col-lg-8 d-flex j-center">
                        <div class="w-100 text-center">
                            <p class="text-justify font-1 fs-13 mb-0">Toma de Biopsias</p>
                            <p class="text-justify font-1 fs-13 mb-0">Ecografía</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-7 d-flex j-center">
                <div class="w-100 text-center">
                    <p class="text-center font-1 fs-13 mb-2">¿Es esto lo que necesitas? Solicita tu consulta con nosotros YA</p>
                    <router-link tag="button" to="/contacto" class="btn clear-btn pink-bg-i m-auto fs-white font-1">Contacto</router-link>
                </div>
            </div>
        </div>
    </div>
</template>
