<template>
    <div class="bg-image-5 parallax w-100">
        <div class="bg-opacity-7">
            <p class="fs-23 pt-2 text-center font-2">Contáctanos</p>
            <div class="row m-0 w-100">
                <div class="col-12 col-sm-6 d-flex j-center mb-4">
                    <div class="row">
                        <div class="col-12">
                            <a class="btn bg-light my-1 fs-15 font-1">
                                <i class="fas fa-phone"></i>
                                +593-97-915-8747
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="btn btn-light my-1 fs-15 font-1">
                                <i class="fas fa-envelope"></i>
                                zulema@gmail.com
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="btn btn-light fs-15 font-1 my-1" href="http://www.instagram.com/spadelalma">
                                <i class="fab fa-instagram"></i>
                                @zulemaquintero
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="btn btn-light fs-15 font-1 my-1">
                                <i class="fab fa-facebook"></i>
                                /zulemaquintero
                            </a>
                        </div>  
                    </div> 
                </div>
                <div class="col-12 col-sm-6 p-4 d-flex j-center mb-4">
                    <div class="w-100 row m-0">
                        <div class="col-12 m-auto">
                            <h3 class="text-center p-3 font-1">¿Quieres conocer todo lo que tenemos para ti?</h3>
                        </div>
                        <div class="col-12 col-sm-10 col-md-8 m-auto">
                            <router-link tag="button" to="/" class="btn clear-btn pink-bg-i fs-white font-1 w-100">SERVICIOS</router-link>            
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
